[Unit]
Description=Orca left camera

[Service]
Type=forking
User=pi
# No need to build orca3:
ExecStart=/home/pi/orca3/orca_driver/scripts/start_lcam.sh

[Install]
WantedBy=multi-user.target
