[Unit]
Description=Orca forward camera

[Service]
Type=forking
User=ubuntu
ExecStart=/home/ubuntu/ros2/orca3_ws/install/orca_driver/lib/orca_driver/start_fcam.sh

[Install]
WantedBy=multi-user.target
