<?xml version="1.0"?>

<robot name="orca" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="RIG_X" value="0.10"/>
  <xacro:property name="RIG_Y" value="0.05"/>
  <xacro:property name="RIG_Z" value="0.02"/>
  <xacro:property name="STEREO_BASELINE" value="0.061"/>

  <!-- General constants -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Materials -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.5 0.5 1.0 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>

  <!-- Base link -->
  <link name="base_link">
    <!-- Left down-facing camera tube -->
    <visual>
      <origin xyz="0 ${STEREO_BASELINE/2} 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.135" radius="0.0275"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <!-- Right down-facing camera tube -->
    <visual>
      <origin xyz="0 ${-STEREO_BASELINE/2} 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.135" radius="0.0275"/>
      </geometry>
      <material name="blue"/> <!-- Only 1 color allowed per link -->
    </visual>
  </link>

  <!-- Left camera link -->
  <link name="left_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Make the aspect ratio obvious -->
        <box size="0.01 0.04 0.03"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <!-- Attach left_camera_link to base_link -->
  <joint name="left_camera_joint" type="fixed">
    <origin xyz="0 ${STEREO_BASELINE/2} -0.0675" rpy="0 ${PI/2} 0"/>
    <parent link="base_link"/>
    <child link="left_camera_link"/>
  </joint>

  <!-- Left camera frame -->
  <link name="left_camera_frame"/>

  <!-- Attach left_camera_frame to base_link -->
  <joint name="left_camera_frame_joint" type="fixed">
    <origin xyz="0 ${STEREO_BASELINE/2} -0.0675" rpy="${PI} 0 ${-PI/2}"/>
    <parent link="base_link"/>
    <child link="left_camera_frame"/>
  </joint>

  <!-- Right camera link -->
  <link name="right_camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <!-- Make the aspect ratio obvious -->
        <box size="0.01 0.04 0.03"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>

  <!-- Attach right_camera_link to base_link -->
  <joint name="right_camera_joint" type="fixed">
    <origin xyz="0 ${-STEREO_BASELINE/2} -0.0675" rpy="0 ${PI/2} 0"/>
    <parent link="base_link"/>
    <child link="right_camera_link"/>
  </joint>

  <!-- Right camera frame -->
  <link name="right_camera_frame"/>

  <!-- Attach right_camera_frame to base_link -->
  <joint name="right_camera_frame_joint" type="fixed">
    <origin xyz="0 ${-STEREO_BASELINE/2} -0.0675" rpy="${PI} 0 ${-PI/2}"/>
    <parent link="base_link"/>
    <child link="right_camera_frame"/>
  </joint>

</robot>
